* {
padding : 0;
margin : 0;
font-size : 100%;
}
body {
width : 100%;
font-family : 'Open Sans', sans-serif;
margin : auto;
color : #333;
line-height : 1.8em;
background-image : url(background.jpg);
background-size : 100%;
background-repeat : no-repeat;
}
img {
opacity : 1;
}
img:hover {
opacity : 0.5;
}
head {
display : flex;
flex-flow : column;
width : 100%;
box-sizing : border-box;
padding-left : 12em;
color : white;
}
h1 {
font-family : 'Libre Baskerville', serif;
font-size : 14em;
text-align : left;
margin-bottom : 0.2em;
color : white;
padding-top : 18.2cm;
text-shadow : 5px 0 black, 0 5px black, 5px 0 black, 0 5px black;
}
.introduction {
padding-top : 0;
width : 80%;
display : flex;
flex-flow : column;
margin : 0 auto;
font-size : 1.2em;
}
img {
max-width : 17em;
margin-left : 7em;
padding-left : 0;
}
div.ex1 {
max-width : 10em;
margin-left : 7em;
padding-left : 0;
}
.Earlylife {
padding-top : 1cm;
width : 80%;
display : flex;
flex-flow : column;
margin : 0 auto;
font-size : 1.2em;
}
.Earlycareer {
padding-top : 1cm;
width : 80%;
display : flex;
flex-flow : column;
margin : 0 auto;
font-size : 1.2em;
}
.IBM {
padding-top : 1cm;
width : 80%;
display : flex;
flex-flow : column;
margin : 0 auto;
font-size : 1.2em;
background-image : url(IBM.png);
background-size : 75%;
background-repeat : no-repeat;
background-position : bottom;
}
.otherwork {
padding-top : 1cm;
width : 80%;
display : flex;
flex-flow : column;
margin : 0 auto;
font-size : 1.2em;
}
.laterlife {
padding-top : 1cm;
width : 80%;
display : flex;
flex-flow : column;
margin : 0 auto;
font-size : 1.2em;
}
.interpretation {
padding-top : 1cm;
width : 80%;
display : flex;
flex-flow : column;
margin : 0 auto;
font-size : 1.2em;
}
h2 {
font-size : 3em;
margin-top : 1em;
margin-bottom : 0.6em;
color : #ED350E;
text-align : left;
}
a {
color : #FFFFFF;
text-decoration : none;
}
nav {
position : static;
top : 0;
left : 0;
margin : 0;
height : 3%;
width : 100%;
background-color : #10204F;
padding : 1em 0;
font-size : 1.1em;
}
nav ul {
text-align : center;
text-transform : uppercase;
letter-spacing : 1px;
}
nav ul li {
display : inline;
margin : 20px;
}
nav a:link {
color : white;
}
nav a:visited {
color : white;
}
nav a:hover {
border-bottom : none;
color : #fff;
}
H3 {
font-size : 3em;
margin-bottom : 0.5em;
}
footer {
background : #10204F;
width : 200%;
padding-top : 5em;
padding-bottom : 3em;
margin-top : 5em;
margin-left : 0;
text-align : left;
padding-left : 8em;
color : white;
}