/*-------- CSS RESET -------- */

*{
   padding: 0;
   margin: 0;
   font-size: 100%;
   line-height: lem;
}

body {width: 75%;
    max-width: 786;
    font-family: 'Libre Baskerville', serif;
         margin: auto;
    background: #f0f0f0f0;
    color: #333;
    line-height: 1.8em;}
    
    head {margin: 6em 3em. 60em, 0}
    
    header h2 {
        font-style: italic;
        font-size: 2.2em;
        color: #333,
    }
}
 h1, h2, h3 {
    font-weight: normal;
    color: #c06;
    text-align: center;}

 p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;}
        
h1 {font-size: em;
    margin-top: 1em;
    margin-bottom: .1em; }

h2 {font-size: 2.25em;
    margin-bottom: 1em}   
      

 header {margin:6em 0}

header h2 {
    font-style: italic;
    font-size: 2.25em;
    margin-top: .5em;
    color: #333;}

/*----------- LINKS ----------*/

a {
    color: #FFFFFF;
    text-decoration: none}


a:hover {
    color:#006321;
    border-bottom: 1px dotted;} 



/*----------- NAVIGATION -----------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width 100%;
    background-color: #333;
    padding 1em 0; }


nav ul {
    text-align: center;}
   text-transform: uppercase;
  letter-spacing: 2px:} 

nav ul li {
display: inline;
       margin: 20px; }

nav a:link {
    color: #fff
}

nav a:hover {
    border-bottom: none;
    color: #fff
    } */

nav a:visited {
    color: #fff
}
    
.anchor {
    text-transform: uppercase;
    font-size: 0.75em;
}

a {
    color: #c06;
    text-decoration: none;
}

a:hover {
    color: #006341;
    border-bottom: 1px dotted;
}

nav {
    padding: 1em 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-bottom: 4em;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:hover {
    border-bottom: none;
}


/*---------- TYPOGRAPHY -----------*/

h1, h2, h3 {
    font-weight: normal;
    color: #c06;
    text-align: center;
}

p, li blockquote {
    margin-bottom: 1.5em
    line-height: 1.5em
}

h1 {font-size: 4em;
    margin-top: 1em;
    margin-bottom: 1em;}

h2 {{font-size: 4em;
    margin-top: 1em;
    margin-bottom: 1em;}

blockquote {
    padding: 1em 0 4em 0;}
    font-size: 1.75em;
    line-height: 1.4em; 
    color: #777;}

blockquote cite   {
     font-size: .75em;
}

/*----------- IMAGES ----------*/

img{ 
   display: block;
   margin: 4em auto;
   padding: 0;
   max-width: 100%;
}
/* ------------------ TABLE ---------------- */

 table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 3em;   
}

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    }
th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #c06;}
th, td {
    padding: .6em;}
table, td {
   background: #999;    
   border: 1px solid #fff;
} 


/*---------- FOOTER ---------- */

footer {
    text-align: center;
    font-size: .75em;
    line-height: 1.5em;
    padding-bottom: 2em;
    }

footer

